{%- extends "maps/base.html" -%}

{%- block name -%}Sigma{%- endblock -%}

{%- block map -%}
	{%- for row in range( 14, 12, -1 ) -%}
		<tr>
		{%- for col in range( 1, 5 ) -%}{{ seat( 'pcs' ~ row ~ '-0' ~ col ) }}{%- endfor -%}
		{%- for col in range( 5 ) -%}{{ space() }}{%- endfor -%}
	{%- endfor -%}
	{%- for row in range( 11, 0, -2 ) -%}
		<tr>
		{%- for col in range( 1, 5 ) -%}{{ seat( 'pcs' ~ row ~ '-0' ~ col ) }}{%- endfor -%}
		{{ space() }}
		{%- for col in range( 4, 0, -1 ) -%}{{ seat( 'pcs' ~ ( row + 1 ) ~ '-0' ~ col ) }}{%- endfor -%}
	{%- endfor -%}
{%- endblock -%}
