{% extends "maps/base.html" %}
{% block map %}
<table class="map">

	{% for col in range( 5 ) %}<td>&nbsp;{% endfor %}

	{% for col in range( 1, 5 ) %}
		{% set label = 'pcs13-0' ~ col %}
		<td id="{{ label }}">&nbsp;{{ label }}

	{% endfor %}
	{% for row in range( 11, 0, -2 ) %}<tr>

		{% for col in range( 4, 0, -1 ) %}
			{% set label = 'pcs' ~ row ~ '-0' ~ col %}
			<td id="{{ label }}">&nbsp;{{ label }}
		{% endfor %}
		<td>&nbsp;
		{% for col in range( 1, 5 ) %}
			{% set label = 'pcs' ~ ( row + 1 ) ~ '-0' ~ col %}
			<td id="{{ label }}">&nbsp;{{ label }}
		{% endfor %}

	{% endfor %}
	
</table>
{% endblock %}