{% extends "layout.html" %}
{% block script %}
$( document ).ready( function () {
	var source = new EventSource( '/stream/hints' );
	source.onmessage = function( e ) {
		$( '#hints' ).after( e.data );
		prettyPrint();
	};
	$( '#question' ).keyup( function( e ) {
		if ( e.keyCode == 13 ) {
			var question = $( this ).val();
			if ( question != '' ) $.post( '/post/question/{{ token }}', { 'message': question } );
			$( this ).val( '' );
		}
	} );
} );
{% endblock %}
{% block body %}
	<p>Student: <b>{{ student }}</b> @ <b>{{ location }}</b>.</p>
	<p>Question: <input id="question" size=120/></p>
	<p id="hints">Hints:</p>
{% endblock %}
