{% extends "layout.html" %}
{% block script %}
$( document ).ready( function () {
	var source = new EventSource( '{{ url_for( 'stream', stream = 'student' ) }}' );
	source.onmessage = function( e ) {
		var d = JSON.parse( e.data );
		if ( d.location == '*' )
			content = '<fieldset class="public"><legend>';
		else if ( d.location == '{{ g.location }}' )
			content = '<fieldset class="private"><legend>';
		else return;
		content += d.now + '</legend>';
		if ( d.kind == 'text' )
			content += '<pre style="white-space: pre-wrap;">' + d.answer + '</pre>';
		else if ( d.kind == 'code' )
			content += '<pre class="pp">' + d.answer + '</pre>';
		else content += d.answer;
		content += '</fieldset>';
		$( '#answers' ).after( content );
		if ( d.kind == 'code' ) prettyPrint();
	};
	$( '#question' ).keyup( function( e ) {
		if ( e.keyCode == 13 ) {
			var question = $( this ).val();
			if ( question != '' ) $.post( '{{ url_for( 'question' ) }}', { 'question': question } );
			$( this ).val( '' );
		}
	} );
} );
{% endblock %}
{% block body %}
	<p>Student: <b>{{ g.student }}</b> @ <b>{{ g.location }}</b>.</p>
	<p>Question: <input id="question" size=120/>, <a href="{{ url_for( 'term' ) }}">Open terminal mirror</a></p>
	<p id="answers">Answers:</p>
{% endblock %}
<!--
Copyright (C) 2012 Massimo Santini <massimo.santini@unimi.it>

This file is part of Lavagna.

Lavagna is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Lavagna is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Lavagna.  If not, see <http://www.gnu.org/licenses/>.
-->
