{% extends "layout.html" %}
{% block script %}

var student = new Object();
var questions = new Object();

function post_answer( e ) {
	var kind = $( '#kind' ).val();
	var answer = $( '#answer' ).val();
	if ( answer != '' ) $.post( '/post/answer', { 'answer': answer, 'kind': kind, 'destination': '*' } );
	$( '#answer' ).val( '' );
}
$( document ).ready( function () {
	
	$( 'td' ).mousemove( function ( event ) {
		if ( $(this)[ 0 ].id ) {
			s = student[ $(this)[ 0 ].id ];
			if ( !s ) return;
			q = questions[ $(this)[ 0 ].id ];
			qs = '<b>'+ student[ $(this)[ 0 ].id ] +'</b><ul>';
			for ( var i = 0; i < q.length; i++ ) qs += '<li>' + q[ i ];
			qs += '</ul>';
			$( '#tooltip' )[ 0 ].innerHTML = qs;
			$( '#tooltip' ).css( {
			    top: event.pageY + 5 + 'px',
				left: event.pageX + 5 + 'px'
			} ).show();
		}		
	} );
	$( 'td' ).mouseleave( function () {
		$( '#tooltip' ).hide();
	});
	
	var source = new EventSource( '/stream/teacher' );
	source.onmessage = function( e ) {
		var d = JSON.parse( e.data );
		elem = document.getElementById( d.location );
		if ( ! elem ) return;
		if ( d.event == 'question' ) {
			questions[ d.location ].unshift( d.question );
			elem.innerHTML = questions[ d.location ].length;
		} else if ( d.event == 'seat' ) {
			student[ d.location ] = d.student;
			questions[ d.location ] = new Array();
			elem.style.background = 'green';
		}
	}
} );

{% endblock %}
{% block body %}

<div id="tooltip">&nbsp;</div>

{{ rooms|safe }}<div style="clear: both;"></div>

<p>Hint:</p>
<form action="#" method="post">
	<textarea rows=4 cols=80 id="answer"></textarea>
	<select id="kind">
		<option selected>text</option>
		<option>code</option>
		<option>html</option>
	</select>
	<button type="button" onclick="post_answer(); return false;">Post</button>
</form>

{% endblock %}
