{% extends "layout.html" %}
{% block script %}

var student = new Object();
var questions = new Object();
var location_student = null;
var location_location = null;
var tooltip = null;

function post_answer( e ) {
	var kind = $( '#kind' ).val();
	var answer = $( '#answer' ).val();
	if ( answer != '' ) $.post( '{{ url_for( 'answer' ) }}', { 'answer': answer, 'kind': kind, 'location': location_location } );
	$( '#answer' ).val( '' );
}

function set_location( student, location ) {
	location_student.value = student;
	location_location = location;
}

function set_tooltip( id ) {
	s = student[ id ];
	if ( !s ) return false;
	tooltip.innerHTML = '<b>'+ s +'</b>'
	if ( questions[ id ] != '' ) tooltip.innerHTML += '<ul>' + questions[ id ] + '</ul>';
	return true;
}

$( document ).ready( function () {

	tooltip = document.getElementById( 'tooltip' );
 	location_student = document.getElementById( 'location_student' );
 	set_location( '*', '*' );
 
	$( 'td[id]' ).mousemove( function ( event ) {
		var id = $( this )[ 0 ].id;
		if ( set_tooltip( id ) ) $( tooltip ).css( {
		    top: event.pageY + 5 + 'px',
			left: event.pageX + 5 + 'px'
		} ).show();
	} );
	$( 'td[id]' ).mouseleave( function () { $( tooltip ).hide(); } );
	
	var source = new EventSource( '{{ url_for( 'stream', stream ='teacher' ) }}' );
	source.onmessage = function( e ) {
		var d = JSON.parse( e.data );
		var elem = document.getElementById( d.location );
		if ( ! elem ) return;
		if ( d.event == 'question' ) {
			questions[ d.location ] += '<li>' + d.question + '</li>';
			elem.innerHTML = elem.innerHTML == '&nbsp;' ? 1 : parseInt( elem.innerHTML ) + 1;
			elem.classList.add( 'question' );
		} else if ( d.event == 'login' ) {
			student[ d.location ] = d.student;
			questions[ d.location ] = '';
			elem.classList.add( 'seated' );
			$( elem ).click( function() {
				set_location( d.student, d.location );
			} );
			$( elem ).dblclick( function() {
				if ( elem.innerHTML != '&nbsp;' )
					$.post( '{{ url_for( 'clear_questions' ) }}', { 'location': d.location } );
			} );	
		} else if ( d.event == 'clear_questions' ) {
			elem.classList.remove( 'question' );
			elem.innerHTML = '&nbsp;';
			questions[ d.location ] = '';
			set_tooltip( elem.id );			
		}
	}
} );

{% endblock %}
{% block body %}

<div id="tooltip">&nbsp;</div>

<div id="maps">{{ rooms|safe }}</div>

<form action="#" method="post">
	location: <input id="location_student" type="text" disabled><button type="button" onclick="set_location( '*', '*' ); return false;">broadcast</button><br/>
	<textarea rows=4 cols=80 id="answer"></textarea>
	<select id="kind">
		<option selected>text</option>
		<option>code</option>
		<option>html</option>
	</select>
	<button type="button" onclick="post_answer(); return false;">Post</button>
</form>

{% endblock %}
