<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Lavagna</title>
		<link href="{{ url_for( 'static', filename='lavagna.css' ) }}" type="text/css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>
			function post_hint( e ) {
				var hint = $( '#hint' ).val();
				var kind = $( '#kind' ).val();
				if ( hint != '' ) $.post( '/post/hints/' + kind, { 'message': hint } );
				$( '#hint' ).val( '' );
			}
			$( document ).ready( function () {
				var questions = document.getElementById( 'questions' );
				var source = new EventSource( '/stream/questions' );
				source.onmessage = function( e ) {
					questions.innerHTML = e.data + '\n' + questions.innerHTML;
				};
			} );
		</script>
	</head>
	<body>
		<p>Hint:</p>
		
	    <form action="#" method="post">
			<textarea rows=4 cols=80 id="hint"></textarea>
			<select id="kind">
				<option selected>text</option>
				<option html>html</option>
				<option html>code</option>
			</select>
			<button type="button" onclick="post_hint(); return false;">Post hint</button>
		</form>
		
		


		<p>Questions:</p>
		<div id="questions"></div>
	</body>
</html>
