{% extends "layout.html" %}
{% block extrahead %}
<style>
  .terminal {
    float: left;
    border: none;
    font-family: monospace;
    font-size: 16px;
  }
  .reverse-video {
    color: white;
    background: black;
  }
</style>
<script src="{{ url_for( 'static', filename = 'term.js' ) }}"></script>
{% endblock %}
{% block script %}
$( document ).ready( function () {
  Terminal.defaultColors.bg = 'white';
  Terminal.defaultColors.fg = 'black';
	term = new Terminal( 132, 48 );
	term.open();
	var source = new EventSource( '{{ url_for( 'stream', stream = 'term' ) }}' );
	source.onmessage = function( e ) {
		var d = JSON.parse( e.data );
		term.write( d[ 'payload' ] );
	}
} );
{% endblock %}
