body {
	margin: 2em;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: large;
}

#tooltip {
	position: absolute;
	display: none;
	z-index: 1000;
	background-color: yellow;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: .5em;
}

/* Room maps */

#maps {
	display: inline-block;
	vertical-align: bottom;
}

#maps fieldset {
	display: inline-block;
	vertical-align: bottom;
}

#maps table {
	border-spacing: .3em;
}

#maps td.seated {
	background-color: green;
}

#maps td.question {
	background-color: red;
	text-align: center;
	font-size: 70%;
}

#maps td { 
	background-color: silver;
	border: none;
	border-radius: 5px;
	width: 2em; 
}

#maps td.spacing { 
	background-color: white;
	border: none; 
	width: 1em; 
}

#maps legend {
	text-align: left;
}

/* Questions and answers */

fieldset {
	border:1px solid black;
	margin-bottom: 1em;
}

fieldset.private {
	background-color: yellow;
}

fieldset.private legend {
	background-color: yellow;
}

legend {
	padding: 0.2em 0.5em;
	border: 1px solid black;
	color: black;
	font-size: 90%;
	text-align: right;
}

/* Prettify */

.str { color: #060; }
.kwd { color: #006; font-weight: bold; }
.com { color: #600; font-style: italic; }
.typ { color: #404; font-weight: bold; }
.lit { color: #044; }
.pun { color: #440; }
.pln { color: #000; }
.tag { color: #006; font-weight: bold; }
.atn { color: #404; }
.atv { color: #060; }
